﻿@model ToolLoan.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="row">
    
    <div class="col-sm-4 col-sm-offset-4">

        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "LogInForm" }))
        {
            <div class="formhead">
                <h2>Log In</h2>
            </div>
            <div class="formlogo">
                <div class="LogInIcon">
                    <i class="fa fa-user fa-5x"></i>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div>
                <div class="LogInBtns">
                    <button type="submit" class="btn btn-primary">Login</button>
                    @Html.ActionLink("SignUp", "SignUp", "Account", null, new { @type="button", @class = "btn btn-warning" })
                </div>
            </div>
        }
    </div>
    <div class="col-sm-4"></div>
</div>
