﻿@model ToolLoan.Data.Models.User

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Home.cshtml";
}


<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { @id = "signUpForm" }))
        {
            <div class="formhead">
                <h2>Sign Up</h2>
            </div>
            <div class="formlogo">
                <div class="LogInIcon">
                    <i class="fa fa-user-plus fa-4x"></i>
                </div>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.UserName, new { @id="username", @type="text", @name="UserName", @class = "form-control", @placeholder = "UserName", @minlength="5", @maxlength="50",required = "required", @autocomplete = "off" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(m => m.Password, new { @id="password", @type="password", @name="Password", @class = "form-control", @placeholder = "Password", @minlength= "8", required = "required"})
            </div>

            <div class="form-group">
                <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" />
            </div>

            <div class="form-group">
                @Html.TextBoxFor(m => m.DriversLicenseNumber, new { @id="driverslicenseNumber", @type="text", @name= "DriversLicenseNumber", @class = "form-control", @placeholder = "Drivers License Number", @minlength="8", @maxlength="8", required = "required" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @id="phonenumber", @type="phonenumber", @name="PhoneNumber", @class = "form-control", @placeholder = "Phone Number", @minlength="10", @maxlength="10", required = "required" })
            </div>

            <div class="LogInBtns">
                <button type="submit" class="btn btn-primary">Sign Up</button> 
                @Html.ActionLink("LogIn", "LogIn", "Account", null, new { @type = "button", @class = "btn btn-warning" })
            </div>
        }
    </div>
</div>