﻿@model ToolLoan.Data.Models.User

@{
    ViewBag.Title = "View";
}

<h2>Thank you for signing up with us!</h2>

<div class="tool-nottable">

    <li>UserName: @Model.UserName</li>
    <li>Drivers License Number: @Model.DriversLicenseNumber</li>


@Html.ActionLink("Return to Home", "Index", "Home", null, new { @class = "btn btn-primary" })

</div>