﻿@model ToolLoan.Data.Models.Tool

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tool</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToolCategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToolCategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ToolId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
