﻿@model IEnumerable<ToolLoan.Data.Models.Tool>

@{
    ViewBag.Title = "Index";
}

<h2>Tool Catalog</h2>



<div class="tool-table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.ToolCategoryId)*@
                    Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>              
                    @*@Html.DisplayNameFor(model => model.TotalStock)*@
                    # Available
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.ToolCategoryId)*@
                        @if (item.ToolCategoryId == 1)
                        {
                            <p>Electric</p>
                        }
                        else if (item.ToolCategoryId == 2)
                        {
                            <p>Gas</p>
                        }
                        else
                        {
                            <p>Hand</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)                      
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalStock)
                    </td>
                    <td>
                        @if (item.TotalStock == 0)
                        {

                        }
                        else if (item.TotalStock != 0)
                        {
                            @Html.ActionLink("Add To Cart", "AddToolToCart", "ShoppingCart", new { id = item.ToolId }, new { @class = "addCart", @data_stock = item.TotalStock })
                        }
                       
                    </td>
                </tr>
               
            }
        </tbody>
    </table>
</div>


