﻿@model ToolLoan.Models.ShoppingBagViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Your Shopping Cart</h2>

@*<ul>
    @foreach(var item in Model.CartItems)
    {
        <li>@item.Tool.Name | Count: @item.Count</li>
    }
</ul>*@

<div class="tool-table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ToolName</th>
                <th>Number Rented</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in Model.CartItems)
            {
                <tr>
                    <td>@cartItem.Tool.Name</td>
                    <td>@cartItem.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.ActionLink("Checkout", "CheckoutConfirmation", "Checkout", null, new { @type = "button", @class = "btn btn-success" })
@Html.ActionLink("Continue Shopping", "Index", "Tools", null, new { @type = "button", @class = "btn btn-primary" })
