﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<h2>About Us</h2>

<div class="jumbotron">
    <p>We are dedicated to helping library patrons and librarians have easy access to tool lending.</p>
    @Html.ActionLink("Home", "Index", "Home", null, new { @type = "button", @class = "btn btn-primary btn-lg" })
    
</div>