﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<h2>Contact Us</h2>

<div class="jumbotron">
    <address>
        1700 Euclid Ave<br />
        Cleveland, OH<br />
        <abbr title="Phone">P:</abbr>
        216-867-5309
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">TimAndDave@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:lizzi.melone@gmail.com">Lizzi@example.com</a>
    </address>
    @Html.ActionLink("Home", "Index", "Home", null, new { @type = "button", @class = "btn btn-primary btn-lg" })
</div>