﻿@model ToolLoan.Models.BooleanHolder
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="jumbotron">
    <h1>Tool Loan</h1>
    <p class="lead">Your premium source of tool loaning technology</p>
    
    @if (Model.isAuthenticated == true)
    {
        @Html.ActionLink("See Available Tools!", "Index", "Tools", null, new { @type = "button", @class = "btn btn-primary btn-big" })
    }

    else
    {
        @Html.ActionLink("Sign Up!", "SignUp", "Account", null, new { @type = "button", @class = "btn btn-primary btn-lg" }) 
    }
</div>

