﻿@model int

@{
    ViewBag.Title = "Complete";
}

<div class="tool-nottable">
    <h2>Checkout Complete</h2>
    <div>
        <p>Thank you for renting with us. Please return all items cleaned and by the due date.</p>
    </div>
    <div>
        <p>Your order number is: @Model</p>
    </div>
    <div>
        @Html.ActionLink("Back To Home", "Index", "Home", null, new { @type = "button", @class = "btn btn-primary" })
    </div>
</div>