﻿@model List<ToolLoan.Data.Models.Tool>
@{
    ViewBag.Title = "ErrorFillingOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tool-nottable">
    <h2>Error Filling Order</h2>
    <h3>The following tools could not be reserved:</h3>
    <br />
    @foreach (ToolLoan.Data.Models.Tool tool in Model)
    {
        <h4>Tool Name:@tool.Name</h4>
        <h5>Tool Id: @tool.ToolId</h5>
        <h5>Actual stock is @tool.TotalStock</h5>
        <br />
    }
    @Html.ActionLink("View Up-To-Date Stock", "Index", "Tools", null, new { @type = "button", @class = "btn btn-primary" })
</div>
