﻿
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<div class="tool-nottable">
    <div>
        <p>There was an error with your order. Plase try again</p>
    </div>
    <div>
        @Html.ActionLink("Continue Shopping", "Index", "Tool", null, new { @type = "button", @class = "btn btn-primary" })
    </div>
</div>
