﻿@using ToolLoan.Extensions
@model ToolLoan.Data.Models.User
@{
    Layout = null;
}

@if (Model == null) //unauthenticated
{
    <ul class="nav navbar-nav navbar-right">
        <li class="@Html.IsSelected("Account", "SignUp", "active")">@Html.ActionLink("Sign Up", "SignUp", "Account")</li>
        <li class="@Html.IsSelected("Account", "Login", "active")">@Html.ActionLink("Log In", "LogIn", "Account")</li>
    </ul>
}
else if(Model.IsLibrarian == false) //authenticated library <patron>
{
    <ul class="nav navbar-nav">
        <li class="@Html.IsSelected("Home", "Index", "active")">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="@Html.IsSelected("Index", "Tools", "active")">@Html.ActionLink("View Tools", "Index", "Tools")</li>
        <li>@Html.ActionLink("View Shopping Cart", "Index", "ShoppingCart")</li>
        <li>@Html.ActionLink("Check Tool Availability", "FormForToolAvailability","LibrarianReservationActions")</li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Hello @Model.UserName</a></li>
        <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
    </ul>
} 

else
{

    //when a librarian is logged in
    <ul class="nav navbar-nav">
        <li class="@Html.IsSelected("Home", "Index", "active")">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="@Html.IsSelected("Index", "Tools", "active")">@Html.ActionLink("View Tools", "LibrarianIndex", "Tools")</li>
        <li>@Html.ActionLink("Check Tool Availability", "FormForToolAvailability", "LibrarianReservationActions")</li>
        <li>@Html.ActionLink("Check Out A User", "Index", "LibrarianReservationActions")</li>
        <li>@Html.ActionLink("Return Tools", "ReturnToolForm", "LibrarianReservationActions")</li> 
        <li>@Html.ActionLink("Give Librarian Authorizations", "MakeLibrarianAccountForm", "LibrarianReservationActions")</li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Hello Librarian @Model.UserName</a></li>
        <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
    </ul>
}