﻿@using ToolLoan.Extensions
@{
    Layout = null;
}

<div class="nav navbar-nav navbar-left">
    <li class="@Html.IsSelected("About", "Home", "active")">@Html.ActionLink("About", "About", "Home")</li>
    <li class="@Html.IsSelected("Contact", "Home", "active")">@Html.ActionLink("Contact", "Contact", "Home")</li>
</div>
  