﻿body {
    background: url("img/polys/6.jpg") no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 60px;
}

.navbar {
    background-color: dodgerblue;
    border-bottom: 4px solid lightgrey;
    margin-bottom: 0px;
}


.navbar .navbar-brand{
    color: whitesmoke;
}

.navbar .navbar-nav > li > a {
    background-color: dodgerblue;
    color: whitesmoke;
    
}


.navbar .navbar-nav > li > a:hover{
    background-color: whitesmoke;
    color: dodgerblue;
}

.jumbotron{
    margin: 54px;
    background-color: whitesmoke;
    color: midnightblue;
    opacity: 0.8;
}

.footer{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer a{
    color: whitesmoke;
}

.footer a:hover{
    color: dodgerblue;
    background-color: transparent;
}


/*SignUp and LogIn Styles*/

#LogInForm{
    margin-top: 70px;
    padding: 20px;
    background: whitesmoke;
    box-shadow: -10px 10px 5px #888888;
}

#LogInForm .LogInBtns{
    display: block;
    text-align: center;
}

#LogInForm .btn{
    width: 80px;
    margin: 5px;
}


#LogInForm .formhead{
    text-align: center;
    margin-bottom: 20px;
    color: midnightblue;
}

#LogInForm .formlogo{
    text-align: center;
    margin-bottom: 20px;
}

#LogInForm .LogInIcon{
    padding: 20px 25px;
    display: inline-block;
    margin: 0 auto;
    background-color: dodgerblue;
    color: white;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
}



#signUpForm{
    margin-top: 20px;
    padding: 20px;
    background: whitesmoke;
    box-shadow: -10px 10px 5px #888888;
}

#signUpForm .LogInBtns{
    display: block;
    text-align: center;
}

#signUpForm .btn{
    width: 80px;
    margin: 5px;
}


#signUpForm .formhead{
    text-align: center;
    margin-bottom: 20px;
    color: midnightblue;
}

#signUpForm .formlogo{
    text-align: center;
    margin-bottom: 20px;
}

#signUpForm .LogInIcon{
    padding: 25px 30px;
    display: inline-block;
    margin: 0 auto;
    background-color: dodgerblue;
    color: white;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
}
/*End of SignUp and Login Styles*/
