﻿body {
    background: url("img/light-blue-background.jpg") no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 60px;
}

.navbar {
    background-color: dodgerblue;
    border-bottom: 4px solid lightgrey;
    margin-bottom: 0px;
}


    .navbar .navbar-brand {
        color: whitesmoke;
    }

    .navbar .navbar-nav > li > a {
        background-color: dodgerblue;
        color: whitesmoke;
    }


        .navbar .navbar-nav > li > a:hover {
            background-color: whitesmoke;
            color: dodgerblue;
        }


.tool-nottable {
    text-align: center;
    margin: 54px;
}



.tool-table {
    text-align: center;
    margin: 54px;
}

    .tool-table:hover {
        box-shadow: -10px 10px 5px #888888;
    }


.table th, td {
    text-align: center;
}

.table th {
    background-color: whitesmoke;
    color: dodgerblue;
}


.footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

    .footer a {
        color: whitesmoke;
    }

        .footer a:hover {
            color: dodgerblue;
            background-color: transparent;
        }


/* SignUp Form Style*/
#signUpForm .has-error .control-label,
#signUpForm .has-error .help-block,
#signUpForm .has-error .form-control-feedback {
    color: red;
}

#signUpForm .has-success .control-label,
#signUpForm .has-success .help-block,
#signUpForm .has-success .form-control-feedback {
    color: lightgreen;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 10px lightgreen;
}

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }


textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 10px lightgreen;
}

    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    textarea:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
/* End SignUp Form Style*/

