﻿@model List<string>


@{
    ViewBag.Title = "FormForToolAvailability";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Find Out When Your Tool Will Be Next Available</h2>

@using (Html.BeginForm("ToolAvailability", "LibrarianReservationActions", FormMethod.Post))
{
    <div class="tool-nottable">
        @Html.Label("Please enter the name of the tool")
        <br />
        <input type="text" name="name" />
        <br />
        <br>
        <button class = "btn btn-primary btn-lg">Find Tool's Availability</button>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {

        $(function () {
            //var availableTools = [
            //    "HammerEdited",
            //    "Wrench",
            //    "Saw",
            //    "TapeMeasure",
            //    "ScrewDriver"
            //];

            var availableTools = @Html.Raw(Json.Encode(Model));
            console.log(availableTools);

            $("#available-tools").autocomplete({
                source: availableTools
            });
        });

    });
</script>


