﻿ 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Check Out A User</h2>
@using (Html.BeginForm("Index", "LibrarianReservationActions", FormMethod.Post))
{
    <div class="tool-nottable">
        @Html.Label("Please enter the customer's username")
        <input type="text" name="username" />
        <br />
        <p>or..</p>
        @Html.Label("Enter the customer's Drivers License Number")
        <input type="text" name="driverslicense" />
        <br />
        <br />
        <br />
        <button class = "btn btn-primary btn-lg">Find Tool Reservations</button>
    </div>
}
