﻿@model ToolLoan.Data.Models.User
@{
    ViewBag.Title = "MakeLibrarianAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tool-nottable">
    <h2>Librarian Authorization</h2>
    <h3>@Model.UserName is now a librarian</h3>
</div>