﻿
@{
    ViewBag.Title = "MakeLibrarianAccountForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Librarian Authorization</h2>

@using (Html.BeginForm("MakeLibrarianAccount", "LibrarianReservationActions", FormMethod.Get))
{
    <div class="tool-nottable">
        @Html.Label("Please enter a username")
        <br />
        <input type="text" name="username" />
        <br />
        <br />
        <button class = "btn btn-primary btn-lg">Make this user a libraran</button>
    </div>
}
