﻿@model ToolLoan.Models.GoingFromToolUserToReservedViewModel

@{
    ViewBag.Title = "ReserveToolsForUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Check Out Confirmation</h2>

<div class="tool-table">
    <table class="table table-hover">
        <div>
            <p>Thank you very much. The following tools have been checked out:</p>

            <ul>
                @foreach (var item in Model.tools)
            {
                    <li>@item.Name @item.Description</li>
                }
            </ul>
        </div>
    </table>
    <div>
        @Html.ActionLink("Home", "Index", "Home", null, new { @type = "button", @class = "btn btn-primary" })
    </div>
</div>