﻿@model ToolLoan.Models.ReservedToolViewModel

@{
    ViewBag.Title = "ReturnTools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Return Tools For @Model.username</h2>

@if (Model != null)
{
    //using (Html.BeginForm("ReturnTools", "LibrarianReservationActions", FormMethod.Get))
    using (Html.BeginForm("ReturnToolsConfirmation", "LibrarianReservationActions", FormMethod.Get))
    {
        <div class="tool-table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ToolId</th>
                        <th>Loan End Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.reservedTools)
                    {
                        <tr>
                            <td>@item.ToolId</td>
                            <td>@item.LoanEndDate</td>
                            <td>
                                @*Is the tool clean and the cords well coiled?
                                @Html.LabelFor(m => m.isClean, "No")
                                @Html.RadioButtonFor(m => m.isClean, false)                       
                                @Html.LabelFor(m => m.isClean, "Yes")
                                @Html.RadioButtonFor(m => m.isClean, true)*@
                                @(Html.Label("Is the tool dirty or poorly cared for?"))
                                <input class="isCleanCheckbox"type="checkbox" name="isClean" />
                                @{
                                    bool theIsClean = false;
                                }
                                <script>
                                    $("#isCleanCheckbox").click(function (event, value) {
                                        if($(this).prop('checked','checked'))
                                        {
                                            @theIsClean = true;
                                        }
                                        else 
                                        {
                                            @theIsClean = false;
                                        }
                                    });                                                                                                           
                                </script>
                            </td>
                            <td>@Html.ActionLink("Return", "ReturnToolsConfirmation", "LibrarianReservationActions", new { userId = Model.userId, toolId = item.ToolId, isClean = theIsClean}, new { @type = "button", @class = "btn btn-warning" })</td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    }

    using (Html.BeginForm("FeeConfirmation", "LibrarianReservationActions", FormMethod.Get))
    {
        <button class = "btn btn-primary btn-lg">Calculate Fees</button>
    }
}



