﻿
@{
    ViewBag.Title = "ReturnToolForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Return Tools</h1>

@using (Html.BeginForm("ReturnTools", "LibrarianReservationActions", FormMethod.Get))
{
    <div class="tool-nottable">
        @Html.Label("Please enter the customer's username")
        <input type="text" name="username" />
        <br />
        <h2>or..</h2>
        @Html.Label("Enter the customer's drivers license number")
        <input type="text" name="driverslicense" />
        <br />
        <br />
        <br />
        <button class = "btn btn-primary btn-lg">Get Checked Out Tools</button>

    </div>
}
