﻿@model ToolLoan.Models.FeeViewModel
@{
    ViewBag.Title = "ReturnToolsConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tool-nottable">

    <h2>Fees</h2>

    <h3>Total Fee is $@Model.totalFee</h3>
</div>