﻿@model ToolLoan.Models.ToolAvailabilityViewModel 
@{
    ViewBag.Title = "ToolAvailability";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tool Availability:</h1>
<h3>The earliest that @Model.Tool.Name will be available is @Model.ToolsEarliestAvailability</h3>


