﻿@model ToolLoan.Models.GoingFromToolUserToReservedViewModel
@{
    ViewBag.Title = "ToolListForUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Tool Check Out</h1>
<div class="tool-nottable">
    @if (Model.tools.Count == 0)
    {
        <p>No tools for this user</p>
    }
    else
    {
        for (int i = 0; i < Model.tools.Count; i++)
        {
            <p>Tool Name: @Model.tools[i].Name</p>
        }
    }

    <br />

    @using (Html.BeginForm("ReserveToolsForUser", "LibrarianReservationActions", FormMethod.Post))
    {
        @Html.Hidden("username", Model.username)
        <button class = "btn btn-primary btn-lg">Check out these tools for @Model.username</button>
    }
</div>
